#!/usr/bin/make -f

export CARGO_PROFILE_RELEASE_DEBUG=2

%:
	dh $@

override_dh_auto_build:
	cargo build --release --workspace

override_dh_auto_test:
	cargo test --workspace

override_dh_installsystemd:
	dh_installsystemd --no-enable
